
<div class="jumbotron text-center jumbotron-billboard">
	<div class="img"></div>
	<h1 class="display-3 title">{{title}}</h1>
<div class="container">

<p class="lead"> Jot down any ideas for a project</p>

<a href="/ideas/add" class="btn btn-dark btn-lg"> Get Started</a>	
</div>
<div>